                /***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
            
            {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            html {
                font-size: 16px;
                line-height: 1.6;
                /* ADD the Google sans-serif font to this font stack */
                font-family: 'Gloria Hallelujah', Ranchers, 'Permanent Marker', sans-serif;
            }
            
            html
            body {
                background-color: #9FAFFF;
            }
            
            h1 {
                font-size: 6.854rem;
                /* ADD the Google serif font to this font stack */
                font-family: Lobster, Ranchers, 'Shadows Into Light', serif;
                padding: 1rem 2rem;
            }
            
            h2 {
                font-size: 4.23rem;
                /* ADD the Google serif font to this font stack */
                font-family: Lobster, Ranchers, 'Shadows Into Light', serif;
                padding: 1rem 2rem;
            }
            
            nav li {
                font-size: 2.618rem;
            }
            
            p {
                font-size: 1.618rem;
                padding: 1rem 2rem;
                font-family: Lobster, Ranchers, 'Shadows Into Light', serif;
            }
            
            .wrapper {
                max-width: 1400px;
                width: 80%;
                margin: 0 auto;
                background-color: #9FAFFF;
                color: #7F5E6B;
            }
            
            header {
                border-bottom: 0.8rem solid #7F7378;
                background-color: #425ACC;
                color: #4F587F;
            }
            
            .menu-h     {
                width: 100%;
                background: red;
            }
            
            .menu-h li {
                /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
                list-style: none;
                float: left;
                text-align: center;
                width: 20%;
                border-left: 1px solid #333;
                line-height: 1.2;
                border-bottom: 1px solid #333;
            }
            
            .menu-h a,
            .menu-h a:link,
            .menu-h a:visited {
                
                    display: block;
                    color: #333;
                    text-decoration: none;
                    cursor: pointer;
                    /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
                }
                .menu-h a:hover,
                .menu-h a:active {
                    text-decoration-style: wavy;
                    font-variant: small-caps;
                    background-color: #5270FF;
                }
                .menu-v {
                    width: 20%;
                    float: left;
                    padding: 150px;
                }
                .menu-v li {
                    list-style: none;
                    text-align: center;
                    width: 100%;
                    text-align: center;
                    line-height: 1.2;
                    border-bottom: 1px solid #333;
                    border-right: 1px solid #333;
                    border-left: 1px solid #333;
                    background-color: #5270FF;
                    /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
                }
                .menu-v a,
                .menu-v a:link,
                .menu-v a:visited {
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    color: #7F5E6B;
                    border: 1rem solid transparent;
                    /* style the anchors to fill the entire width of the li */
                }
                .menu-v a:hover,
                .menu-v a:active {
                    background-color: #7F7378;
                    color: white;
                    text-decoration: overline;
                    text-decoration-color: white;
                    font-variant-caps: all-petite-caps;
                }
                main {
                    width: 80%;
                    float: right;
                }
                footer {
                    clear: both;
                }
